body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.576470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:-6px;
  top:0px;
  width:1318px;
  height:68px;
}
#u11 {
  position:absolute;
  left:2px;
  top:26px;
  width:1314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1317px;
  height:10px;
}
#u12 {
  position:absolute;
  left:0px;
  top:68px;
  width:1312px;
  height:5px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:40px;
  top:16px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u17 {
  position:absolute;
  left:40px;
  top:125px;
  width:39px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:125px;
  width:39px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20 {
  position:absolute;
  left:257px;
  top:134px;
  width:217px;
  height:22px;
  font-size:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22 {
  position:absolute;
  left:257px;
  top:234px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u24 {
  position:absolute;
  left:257px;
  top:320px;
  width:289px;
  height:22px;
  font-size:18px;
  color:#0000FF;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:6px;
}
#u26 {
  position:absolute;
  left:32px;
  top:329px;
  width:95px;
  height:3px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:35px;
  top:243px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u28_seg1 {
  position:absolute;
  left:-4px;
  top:1px;
  width:98px;
  height:8px;
}
#u28_seg2 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:20px;
  height:21px;
}
#u28_seg3 {
  position:absolute;
  left:81px;
  top:-5px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-6px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
