body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.576470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:-6px;
  top:0px;
  width:1318px;
  height:68px;
}
#u2 {
  position:absolute;
  left:2px;
  top:26px;
  width:1314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1317px;
  height:10px;
}
#u3 {
  position:absolute;
  left:0px;
  top:68px;
  width:1312px;
  height:5px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:40px;
  top:16px;
  width:193px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:314px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:40px;
  top:106px;
  width:666px;
  height:314px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  word-wrap:break-word;
}
